
header{
  height: 100vh;
  margin-top: -180px;
  z-index: -1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color: $background;
  
  img{
    z-index: 0;
    width:400px;
    height:400px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 64px;
    text-align: center;
  }
}

.home-page{
  text-align:center;

  h2{
    margin: 40px;
  }

  .home-nouveautes{
    &-produits{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items:center;
      justify-content:center;
      div{
        margin: 10px auto;

      }
    }
  }
}


@media (max-width: 600px) {

  header{
    margin-top: -20px;
  }

  .home-nouveautes{
    .home-nouveautes-produits{
      grid-template-columns: 1fr 1fr;
      div{
        margin: 10px auto;
      }
    }}
}