
header{
  height: 100vh;
  margin-top: -180px;
  z-index: -1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color: $background;
  
  img{
    z-index: 0;
    width:400px;
    height:400px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 64px;
    text-align: center;
  }
  h3{
    color: grey;
    text-align: center;
  }
}

.home-page{
  text-align:center;

  .homepage-argument{
    margin: 100px 0;
  }

  .home-nouveautes{
    margin-bottom: 50px;
    h3{
      margin: 30px 0;
    }
    &-produits{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items:flex-start;
      justify-content:center;
      div{
        margin: 10px auto;
      }
    }
  }

  .facilities{
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: space-around;
    i{
      font-size: 32px;
      margin: 24px 0;
      transition: transform 0.3s ease-in-out;
      color: grey;
      &:hover{
        transform: rotate(-30deg);
      }
    }
    h5, p{
      color: grey;
    }
  }
  .discover-cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 80px;
    .discover-card{
      position: relative;
      margin: 10px auto;
      img{
        width:300px;
        height: 200px;
      }
      .discover-card-description{
        position: absolute;
        width: 180px;
        bottom: -15px;
        right: 15px;
      }
    }
  }
}




@media (max-width: 1100px) {
  .home-page{

    .discover-cards{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

    }
}
}


@media (max-width: 600px) {

  header{
    margin-top: -20px;
  }

  .home-nouveautes{
    .home-nouveautes-produits{
      grid-template-columns: 1fr 1fr;
      div{
        margin: 10px auto;
      }
    }
  }

  .home-page{
    .discover-cards{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat (8, 1fr);
  
    }
    .facilities{
      display: block;
    }
  }

}