.order-show-admin-side {
  width: 70%;
}

.order-details-side {
  text-align: center;
}

.order-details-grid {
  display: flex;
}

.user-data-order-details {
  margin-bottom: 25px;
  margin-top: 50px;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid $primary-yellow;
}

.user-order-status {
  margin-bottom: 25px;
  margin-top: 50px;
  .user-order-status-total{
    padding: 20px 0;
  }
}
