/* PANIER VIDE */

.main-div-panier-vide{
  padding-bottom: 45vh;
}

.title-panier {

}

.panier-vide {
  text-align: center;
  padding-top: 18vh;
  padding-bottom: 5vh;
}

.link-empty-panier {
  border: solid 1px gold;
  text-align: center;
  width: 245px;
  padding: 5px;
  margin: 0 auto;
}

/* PANIER VIDE */

/* PANIER */

.main-div-panier {

}


/* PANIER */
