/* PANIER VIDE */

.main-div-panier-vide{
  padding-bottom: 45vh;
}

.panier-vide {
  text-align: center;
  padding-top: 18vh;
  padding-bottom: 5vh;
}

.link-empty-panier {
  border: solid 1px $primary-yellow;
  text-align: center;
  width: 245px;
  padding: 5px;
  margin: 0 auto;
}


/* PANIER */
.main-div-panier {
  padding-top: 32px;
  margin: 50px;
}

.title-panier {
  padding-bottom: 25px;
}

.total-panier {
  padding-top: 50px;
}


.delivery-panier{
  margin-top: 50px;
  width: 50vw;
  max-width: 500px ;
}
.explanation-delivery{
  margin: 20px 0;
  color: grey
}


@media (max-width: 600px) {

  .main-div-panier {
    margin: 20px;
  }

  .delivery-panier{
    width: 100%
  }
}
