.product-show{
  background-color: black;
  color: gold;
  display: flex;

  .product-image{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .carouselProduitShow {
      width: 400px;
      height: 400px;
      margin-bottom: 20px;
    }
    .image-dot{
        font-size: 20px;
    }
  }

  .product-description{
    width: 60vw;
  }


.form-product{
  select{
    width: 30%;
  }
}
}

@media (max-width:600px) {
  .product-show{
    display:block;
    .product-image{
      width:80%;
    }
    .product-description{
      width: 80%
    }
    .carouselProduitShow {
      width: 80vw !important;
      height: 80vw !important;
    }

    .form-product{
      select{
        width: 80%;
      }
    }
  }
}