.stock-edit-side {
  width: 70%;
}

.stock-search-bar {
  padding-bottom: 50px;
  width: 370px;
  select, option, input{
    background-color:$overlay !important;
    color: $primary-yellow !important;
    border: 1px solid  transparent !important;
  }
}

.grid-cards-stock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.space-btn {
  padding: 15px 0px 0px 0px;
  width: 150px;
}

.card-stocks {
  padding: 15px;
  border: 1px solid $brightbg;
  width: 350px;
  margin: 20px 0;




  select, option, input{
    background-color:$overlay !important;
    color: $primary-yellow !important;
    border: 1px solid  transparent !important;
    margin: 5px 0;
  }
}
