<%= render 'shared/banner' %>
<div class="container-sirius">
  <div class="about-grid-container">
    <div class="img1-about-container"><%= cl_image_tag "https://res.cloudinary.com/maison-sirius/image/upload/v1619703861/Base%20seeds/Logocouleur_nom-_fond_transparent_1_1_eqc2cf.png", height: 300, width:300, class: 'desktop' %>
</div>
    <div class="text-about-container">
      <div class="text-about-sub-container">
        <h1>MAISON SIRIUS</h1>
        <p>
 Nous sommes un couple soucieux du bien-être de nos amis à quatre pattes et plus précisément des chiens. Alysson Mathonet a d’ailleurs fait de cette passion son métier, elle accueille vos « poilus » dans son salon « La Griffe de Laly » depuis 2018. </br> </br> Avec son compagnon, Kevin Moessens, lui aussi amoureux des animaux, est née l’idée de se lancer dans une nouvelle aventure ! Leur projet est d’ouvrir une boutique en ligne proposant des produits de qualité qui vous permettront d’assurer le bien-être de votre animal. Chaque article sera sélectionné par nos soins et approuvé par Phoebus et Mademoiselle, nos deux adorables chiens.</p>
<p>
Laissez-nous vous les présenter : </br>
Mademoiselle est un cocker Américain de 8 ans, qui m’a donné l’envie de devenir toiletteuse. Elle est d’ailleurs très fière de prêter son image pour le logo de « La Griffe de Laly ». Phoebus est notre grand Caniche d’un an et demi, il fait également notre plus grand bonheur. Pour ne pas faire de jaloux, il est le symbole de notre boutique « Maison Sirius ». </br>
</br>
 Sirius, également appelée Alpha Canis Majoris par la désignation de Bayer, est l'étoile principale de la constellation du Grand Chien. Vue de la Terre, Sirius est l'étoile la plus brillante du ciel après le soleil, dépassant Canopus et Arcturus. Elle fait partie de la catégorie des étoiles blanches! </p>
 <p>
Une question ? Un conseil ? N’hésitez pas à nous contacter via  <%= link_to 'cet onglet',  contact_path, class: "lien-git"%>. </br>
</br>
A bientôt dans notre boutique !</p>
      </div>
    </div>
    <div class="img2-about-container">
      <% @gallery_about.images.each do |image| %>
        <%= cl_image_tag image.key, crop: :fill, width: 200, height: 150%>
      <% end %>

    </div>
  </div>
</div>
