<% if user_signed_in? %>
  <% if current_user.admin  %>
    <h1>Dashboard</h1>
    <%= render 'shared/admin_dashboard_nav' %>
  <% else %>
    <p>Vous ne pouvez pas accéder à cette page</p>
    <%= link_to 'Accueil', root_path%>

  <% end %>
<% end %>
