<h1>accueil</h1>


<p>
<%= link_to 'voir tous les produits', products_path%>
</p>

<p>
<%= link_to 'ajouter un produit', new_product_path%>
</p>
<p>
<%= link_to 'voir mes commandes', orders_path%>
</p>

<%# <%= link_to 'voir mon panier', order_path(session[:order_id])%>


