.btn-sirius {
  background-color: $background;
  color: $primary-yellow;
  border: solid 1px $primary-yellow;
  padding: 0 auto;
  width: 300px;
  text-align: center;
}
.btn-sirius-thick{
  padding:16px 24px 16px 24px;
  margin: 16px 0 32px 0;
  width: 300px;
  background-color: $background;
  color: $primary-yellow;
  border: solid 1px rgba($primary-variant, 0.5);
  transition: all 0.3s ease-in-out;

  &:hover{
    color:$primary-yellow;
    border: solid 1px $primary-variant;
    opacity: 1;
  }
}
