.btn-sirius {
  background-color: $background;
  color: $primary-yellow;
  border: solid 1px $primary-yellow;
  padding: 0 auto;
  width: 300px;
  text-align: center;
}

.btn-sirius-thick{
  padding:16px 24px 16px 24px;
  margin: 16px 0 32px 0;
  width: 300px;
  background-color: $background !important;
  color: $primary-yellow !important;
  border: solid 1px rgba($primary-variant, 0.5) !important;
  transition: all 0.3s ease-in-out;
  text-align: center;

  &:hover{
    color:$primary-yellow;
    border: solid 1px $primary-variant;
    opacity: 1;
    cursor: pointer;
  }
}



.btn-sirius-mid-thick{
  padding:8px 16px 8px 16px;
  margin: 8px 0 32px 0;
  width: 250px;
  background-color: $background;
  color: $primary-yellow;
  border: solid 1px rgba($primary-variant, 0.5);
  transition: all 0.3s ease-in-out;

  &:hover{
    color:$primary-yellow;
    border: solid 1px $primary-variant;
    opacity: 1;
    cursor: pointer;
    transform: scale(1.05);
  }
}

.cta-strong{
  background-color: $primary-yellow !important;
  color: $background !important;
  border: none !important;
  transition: transform 0.3s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}

.btn-danger-sirius{
  background-color: rgb(136, 28, 28);
}
