/* ---------------------------------------------------------------------------------*/

footer p { font-size:13px; color:$primary-yellow; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:5px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:$primary-yellow;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
/* ---------------------------------------------------------------------------------*/

.box-title {
  color: $primary-yellow;
}

.footer-main{
  width:100%;
  background-color:black;
  min-height:250px;
  padding:0px 0px 0px 0px;
  height:300px;   /* Height of the footer */
}

.footer-secondary {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.bottom-footer {
  border-top: solid 1px $primary-yellow;
  width: 300px;
  margin-left: 40%;
}

.bottom-footer-div {
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  .footer-main{
    height: 100%;
    padding-top: 35px;
  }

  .footer-secondary{
    display: inline;
    text-align: center;
    padding-top: 50px;
  }
  .bottom-footer-div {
    text-align: center;
    margin-left: -110px;
  }
}
