.form-sirius{
  select, option, input{
    background-color:$overlay !important;
    color: $primary-yellow !important;
    border: 1px solid  transparent !important;
  }

}

.form-account{
  select, option, input{
    color: $text !important;
  }
}
