.form-sirius{
  .form-inputs{

    select, option,input{
      background-color:$overlay !important;
      color: $primary-yellow !important;
      border: 1px solid  transparent !important;
    }
  }
  .form-actions{
    text-align: center;
  }

}

.form-account{
  select, option{
    color: $text !important;
  }
}

.form-full-page{
  width: 400px;
  margin: 0 auto;
  max-width: 80vw;
}

.devise-link{
  margin: 0;
  display: block;
  text-align: center;
}