.form-sirius{
  select, option, input{
    background-color:$overlay !important;
    color: $primary-yellow !important;
    border: 1px solid  transparent !important;
  }
  
  .form-actions{
    input{
      background-color: $primary-yellow !important;
      color: $background !important;
      text-align: center;
    }
  }
}


.form-account{
  select, option{
    color: $text !important;
  }
  .form-actions{
    display: flex;
    justify-content: center;
  }
}

.form-full-page{
  width: 400px;
  margin: 0 auto;
  max-width: 80vw;
}

.devise-link{
  margin: 0;
  display: block;
  text-align: center;
}