.navbar-sirius{
  background-color: $background;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 10;
  border-bottom: 5px ridge $primary-yellow;
  transition: all 1s ease-out;



  .header-navbar{
    display: flex;
    align-items: center;
    color: $primary-yellow;
    h1{
      font-size: 48px;
      font-weight: 400;
      letter-spacing: 3px;

    }
  }
  .nav-links{
    color: $primary-yellow;
    display: -webkit-flex;
    a{
      margin: 0 24px;
    }
  }



  .nav-search-login{
    color:$primary-yellow;
    display: flex;
    align-items:center;


    li{
      position:absolute;
      right: 100px;
      top:8px;
      margin: 0 10px;

      button{
        color: $primary-yellow ;
      }
    }
    #dropdownMenuButton{
      color: $primary-yellow;
    }
    .dropdown-menu{
      background-color: $brightbg;
      .dropdown-item{
        color: $primary-yellow;
        &:hover{
          background-color: $overlay;
        }
      }
    }


    .nav-search{
      position:absolute;
      left: 15px;
      top:8px;
    }
    .nav-search-button{
      color:$primary-yellow;
    }
    input{
      background-color: transparent;
      border:transparent;
      border-bottom: 1px solid $primary-yellow;
      color: white;
    }

    .nav-cart{
      position: absolute;
      right: 10px;
      top:8px;
      font-size: 16px;
    }

  }


}

.small-home-navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index:5;
  .container-small-nav{
    display: flex;
    justify-content: space-between;
  }
  .nav-search{
    color:$primary-yellow;
    display: flex;
    margin: 10px 20px;
    form {
      flex-flow: row nowrap;
    }
  }
  .nav-search-button{
    color:$primary-yellow;
  }
  input{
    background-color: transparent;
    border:transparent;
    border-bottom: 1px solid $primary-yellow;
    color: white;
  }

  .small-home-shop{
    display: flex;
    align-items: center;
    margin: 10px 20px;
    a{
      margin: 0 10px;
    }
  }
}


.mobile{
  display:none;
}



#dropdown-boutique{
  display: none;
  background-color: $background;
  color:$primary-yellow;
  width:80%;
  padding: 30px 30px;
  grid-template-columns: repeat (5, 1fr);
  grid-gap: 10px;
  align-items:center;
  position: absolute;
  top:180px;
  left: calc(100vw - 90%);
  z-index: 15;
  border: 5px ridge $primary-yellow;


  .col-boutique{
    align-self: start;
    justify-self: center;

    h5{
      margin: 20px 16px;
      text-align: center;
    }
    p{
      margin: 4px auto;
      text-align: center;
    }
  }

  #col-boutique-1{
    grid-column: 1/2;
    position: relative;
    padding-top: 16px;

  }
  #col-boutique-2{
    grid-column: 2/3;

  }
  #col-boutique-3{
    grid-column: 3/4;
    align-self: start;
    justify-self:center;

  }
  #col-boutique-4{
    grid-column: 4/5;
    align-self: start;
    justify-self:center;

  }
  #col-boutique-5{
    grid-column: 5/6;
    align-self: start;
    justify-self:center;

  }
  .dropdown-logo{
    position: absolute;
    bottom: -180px;
    left: 24px;
  }
}


.modal-background{
  visibility: hidden;
  opacity:0;
  width:100vw;
  height: 100vh;
  z-index:10;
  position:fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.4);
  transition: all 0.3s ease-out;
  overflow: auto;
}

.hover{
  transition: all 0.15s ease-in-out;
  position: relative;
    &:before,
    &:after {
      content: ".";
      position: absolute;
      bottom: -32px;
      left : 0;
      right: 0;
      top:0;
      width: 0%;
      height: 1px;
      margin: auto;
      transition: all 0.15s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
      color: transparent;
      background-color: $primary-yellow;
      z-index:-1;
    }
    &:hover {
      cursor: pointer;
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
  }

}


@media (max-width:600px) {

  .mobile{
    display:block
  }

  .desktop{
    display:none !important;
  }

  .modal-background{
    width:100vw;
    height: 100vh;
  }

  .nav-links{
    display:none;
  }

  .nav-search-login{
    display:none !important;
  }

  .navbar-sirius{
    height: 100px;
    justify-content: center;
    #nav-menu{
      color: $primary-yellow;
      font-size: 24px;
      display: block;
      position: absolute;
      left: 15px;
      top: 30px;
    }
    #nav-menu-open{
      display:none;
      color: $primary-yellow;
      font-size: 24px;
      position: absolute;
      left: 15px;
      top: 30px;
    }
    .header-navbar{
      h1{
        font-size: 32px;
      }
    }
  }


  .side-menu{
    text-align: center;
    background-color: $background;
    color: $primary-yellow;
    transform:translateX(-100vh);
    transition: all 0.3s ease-out;
    position: absolute;
    top:100px;
    z-index:10;
    width:100vw;
    border-bottom: 1px ridge $primary-yellow;

    .nav-search-mobile{
      margin-bottom: 0px;

      form{
        justify-content: center;
      }
      input{
        background-color: transparent;
        border:transparent;
        border-bottom: 1px solid $primary-yellow;
      }
      .nav-search-button{
        color:$primary-yellow;
      }
    }

    .mobile-boutique{
      margin-bottom: 20px;
      p{
        margin: 4px;
      }
    }

    .separation-bar{
      width:50%;
      border-bottom: 1px solid $brightbg;
      margin: 8px auto;
    }

    .nav-login-mobile{
      padding-bottom: 20px;
    }
  }

  .small-home-navbar{
    justify-content: center;
    .small-home-shop{

      margin: 10px auto;

    }
  }



}
