// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body{
  margin: 0px;
  // compenser la navbar
  margin-top: 150px;
  background-color: $background;
  color:$primary-yellow;
}

.container-sirius{
  padding: 20px;
}

a{
  text-decoration: none;
  color:inherit;
  &:hover{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
  }
}

li{
  list-style-type: none;
}


@media (max-width:600px) {
  body{
    // compenser la navbar en mobile
    margin-top: 100px;
  }
}
