

  <h1>show categorie</h1>

  <h1> <%= @category.name  %> </h1>

  <% @category.products.each do |product| %>
  <% next if product.online == false %>
    <%= link_to product.name, product_path(product) %>
    <%= product.small_description  %>
  <% end %>
